// Variables, globals;
@import 'variables/index.scss';

body {
  margin: 0;
  padding: 0;
}

.fancy-site {
  @import 'themes/fancy';
  color: $text-color;
  font-family: $font-family;
  // All themable styles;
  @import 'base';
}

.serious-site {
  @import 'themes/serious';
  color: $text-color;
  font-family: $font-family;
  // All themable styles;
  @import 'base';
}
